<header class="header">
    <div class="x-container">
        <div class="header__wrap">
            <a href="/" class="logo">
                <img src="./assets/images/logos/logo.png" class="logo__pic" alt="Pizza Cheff">
                <span class="logo__text">Pizza Cheff</span>
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Пиццы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Напитки</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
            </nav>
        </div>                
    </div>
  </header>
