<app-header></app-header>
<section class="welcome">
  <div class="x-container">
      <div class="welcome__wrap">
          <div class="w-container">
              <h1 class="title">
                  <span class="title__line title__line--first">Самая вкусная пицца в мире </span> 
                  <span class="title__line title__line--second">только в Pizza Cheff </span> 
              </h1>
              <ul class="benefits-list welcome__benefits">
                  <li class="benefits-list__item">
                      <div class="benefit-item">
                          <img src="./assets/images/icons/benefit-hop.png" alt="Лучшее тесто" class="benefit-item__icon">
                          <div class="benefit-item__content">
                              <div class="benefit-item__title">Лучшее тесто</div>
                              <p class="benefit-item__desc">
                                  Мы создаем тесто только из <br>
                                  отборной итальянской муки<br>
                                  наивысшего качества
                              </p>
                          </div>
                      </div>
                  </li>
                  <li class="benefits-list__item">
                      <div class="benefit-item">
                          <img src="./assets/images/icons/benefit-kitchen-pack.png" alt="Лучшие повара" class="benefit-item__icon">
                          <div class="benefit-item__content">
                              <div class="benefit-item__title">Лучшие повара</div>
                              <p class="benefit-item__desc">
                                  Мы создаем тесто только из <br>
                                  отборной итальянской муки<br>
                                  наивысшего качества
                              </p>
                          </div>
                      </div>
                  </li>
                  <li class="benefits-list__item">
                      <div class="benefit-item">
                          <img src="./assets/images/icons/benefit-seo-and-web.png" alt="Гарантия качества" class="benefit-item__icon">
                          <div class="benefit-item__content">
                              <div class="benefit-item__title">Гарантия качества</div>
                              <p class="benefit-item__desc">
                                Наша пиццерия получила<br>
                                множество наград и <br>
                                признаний по всему миру
                              </p>
                          </div>
                      </div>
                  </li>
                  <li class="benefits-list__item">
                      <div class="benefit-item">
                          <img src="./assets/images/icons/benefit-holidays.png" alt="Отборные рецепты" class="benefit-item__icon">
                          <div class="benefit-item__content">
                              <div class="benefit-item__title">Отборные рецепты</div>
                              <p class="benefit-item__desc">
                                Мы используем рецепты<br>
                                от мировых лидеров<br>
                                в изготовлении пиццы
                              </p>
                          </div>
                      </div>
                  </li>
              </ul>
              <button class="btn welcome__btn">Выбрать пиццу</button>
          </div>
          
      </div>
  </div>
</section>
<app-product-list></app-product-list>
<app-footer></app-footer>